
@media only screen and (max-width:400px) {



    .header-continer{
        height: 30vh;
    }
    .name-div{
        width: 50%;
        margin-top: 50px;
    }

    .name-div h2{
        font-size: 30px;
        letter-spacing:4px ;
        margin-top: 10px;
    }

    .name-div p{
        font-size:15px;
        letter-spacing:4px;
        margin-bottom: 10px;
    
    }

    .nav-container{
        width: 70%;
        margin-top: 100px;
        margin-left: 15%;
    }


    ul li a{
        padding: 0 15px;
    }
    
    .nav-container ul li {
        font-size: 11px;
        padding: 10px;
    }

    .images{
        width: 95%;
        margin: 5px auto;
        row-gap: 10px;
    }

    .images-01{
        height: 50vh;
    }
    .images-02{
        height: 50vh;
    }
    .images-03{
        height: 50vh;
    }
    .images-04{
        height: 50vh;
    }
    .images-05{
        height: 50vh;
    }

    .contact{
        padding: 0 10px;
        height: 50vh;
    }
    .mainusPart{
        display: none;
    }

    .contact h2{
        font-size:25px;
        padding: 15px 0;
    }

    .contact p{
        font-size: 15px;
        padding-bottom: 20px;
    }

    label{
        font-size: 15px;
    }

    input{
        height: 25px;
        padding: 0 5px;
        font-size: 10px;
    }
    ::placeholder{
        font-size: 12px;
    }

    .btn{
        font-size: 15px;
    }

    hr{
        display: none;
    }



    .footer-container{
        width: 95%;
        height:100px;
        margin: 0 auto;
        border: 2px solid black;
    }
    
    .footer-pera{
        text-align: center;
        font-size: 12px;
        padding-top:20px;
    }
    
    .back-btn{
        display: none;
    }



}


